/Utakata/.vs/Utakata/DesignTimeBuild/.dtbcache.v2
/Utakata/.vs/Utakata/v16/.suo
/Utakata/bin/Debug/net5.0/Newtonsoft.Json.dll
/Utakata/bin/Debug/net5.0/ref/Utakata.dll
/Utakata/bin/Debug/net5.0/Utakata.deps.json
/Utakata/bin/Debug/net5.0/Utakata.dll
/Utakata/bin/Debug/net5.0/Utakata.exe
/Utakata/bin/Debug/net5.0/Utakata.pdb
/Utakata/bin/Debug/net5.0/Utakata.runtimeconfig.dev.json
/Utakata/bin/Debug/net5.0/Utakata.runtimeconfig.json
/Utakata/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Utakata/obj/Debug/net5.0/apphost.exe
/Utakata/obj/Debug/net5.0/ref/Utakata.dll
/Utakata/obj/Debug/net5.0/Utakata.AssemblyInfo.cs
/Utakata/obj/Debug/net5.0/Utakata.AssemblyInfoInputs.cache
/Utakata/obj/Debug/net5.0/Utakata.assets.cache
/Utakata/obj/Debug/net5.0/Utakata.csproj.AssemblyReference.cache
/Utakata/obj/Debug/net5.0/Utakata.csproj.CopyComplete
/Utakata/obj/Debug/net5.0/Utakata.csproj.CoreCompileInputs.cache
/Utakata/obj/Debug/net5.0/Utakata.csproj.FileListAbsolute.txt
/Utakata/obj/Debug/net5.0/Utakata.dll
/Utakata/obj/Debug/net5.0/Utakata.GeneratedMSBuildEditorConfig.editorconfig
/Utakata/obj/Debug/net5.0/Utakata.genruntimeconfig.cache
/Utakata/obj/Debug/net5.0/Utakata.pdb
/Utakata/obj/project.assets.json
/Utakata/obj/project.nuget.cache
/Utakata/obj/Utakata.csproj.nuget.dgspec.json
/Utakata/obj/Utakata.csproj.nuget.g.props
/Utakata/obj/Utakata.csproj.nuget.g.targets
/Utakata/Utakata.sln
